<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tinycc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tinycc.presentation.TinyccModelWizardID"
            name="%_UI_TinyccModelWizard_label"
            class="tinycc.presentation.TinyccModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TinyccModelFile.gif">
         <description>%_UI_TinyccModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tinycc -->
      <editor
            id="tinycc.presentation.TinyccEditorID"
            name="%_UI_TinyccEditor_label"
            icon="icons/full/obj16/TinyccModelFile.gif"
            extensions="tinycc"
            class="tinycc.presentation.TinyccEditor"
            contributorClass="tinycc.presentation.TinyccActionBarContributor">
      </editor>
   </extension>

</plugin>
